@model Hipokrates.DTOs.Patient.ConsultationDTO


@{
    Layout = "_Layout";
}

<main>
    <div class="details-div">
        <div class="header-div">
            Konsultacja
        </div>
        <div class="details">
            <input type="text" value="@Model.ServiceName" class="form-input" disabled>
            <input type="text" value="Piętro: @Model.Floor, Sala: @Model.Room" class="form-input" disabled>
            <input type="text" value="@Model.Date" class="form-input" disabled>
            <input type="text" value="@Model.Time" class="form-input" disabled>
            <input type="text" value="@Model.Status" class="form-input" disabled>
        </div>
        @{
            if (Model.Status.Equals("Registered") || Model.Status.Equals("Planned"))
            {
                <a href="@Url.Action("CancelConsultation", "Patient", new {Id = @Model.Id})" class="header-button custom-button-properties">Odwołaj konsultację</a>
            }else if (Model.Status.Equals("Refused"))
            {
                <p>Czy chcesz podać nową datę?</p>
                <form class="login-form" method="post" action="@Url.Action("UpdateDateAndTime", "Patient")">
                    <input type="hidden" name="Id" id="id" value="@Model.Id">
                    <input class="form-input" type="date" name="Date" id="date" placeholder="" required>
                    <input class="form-input" type="time" name="Time" id="time" placeholder="" required>
                    <div class="form-buttons">
                        <input class="form-button-login" type="submit" value="Zaakceptuj">
                    </div>
                </form>
            }
        }
    </div>
</main>