@using Microsoft.AspNetCore.Http

@{
    ViewBag.Pesel = Context.Session.GetString("Pesel");
    ViewBag.User = Context.Session.GetString("User");
    ViewBag.DoctorId = Context.Session.GetString("DoctorId");
    ViewBag.UserClass = Context.Session.GetString("Class");
}
<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta contentType="text/html"; charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <link rel="icon" href="@Url.Content("~/assets/logo.png")" type="image/icon type">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Hipokrates</title>
</head>
<body>
<header>
    <div class="header-left">
        <a href="@Url.Action("Index", "Home")"><img id="system-logo" src="@Url.Content("~/assets/logo.png")" alt="system-logo" class="logo"></a>
        <h1 class="page-title">Hipokrates</h1>
    </div>
    @{
        if (ViewBag.UserClass == null)
        {
            <div class="header-right">
                <p><a class="header-button" href="@Url.Action("IndexPatient", "Login")">Zaloguj się</a></p>
                <p><a class="header-button" href="@Url.Action("IndexDoctor", "Login")">Dla lekarza</a></p>
            </div>
        }else if (ViewBag.UserClass.Equals("Doctor"))
        {
            <div class="header-right">
                <p>Zalogowano jako: @ViewBag.User</p>
                <p><a class="header-button" href="@Url.Action("LogoutDoctor", "Login")">Wyloguj się</a></p>
                <p><a class="header-button" href="@Url.Action("Index", "Doctor")">Konsultacje</a></p>
            </div>
        }else if (ViewBag.UserClass.Equals("Patient"))
        {
            
            <div class="header-right">
                <p>Zalogowano jako: @ViewBag.User</p>
                <p><a class="header-button" href="@Url.Action("LogoutPatient", "Login")">Wyloguj się</a></p>
                <p><a class="header-button" href="@Url.Action("Index", "Patient")">Historia wizyt</a></p>
            </div>
        }
    }
</header>
<nav>
    <ul>
        <li><a href="">Usługi</a></li>
        <li><a href="">Badania</a></li>
        <li><a href="">O nas</a></li>
    </ul>
</nav>
@RenderBody()
</body>
</html>